#bevel {
    background: #111;
    border-left: 1px solid #000;
    height: 100%;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
	right:-259px;
    top: 0px;
    position:fixed;
    z-index: 150;
    -webkit-transition: right 200ms ease-in-out;
}
#bevel:hover {
	right: 0px;
}
#sosmed {
	position: relative;
	top: 42px;
	width:auto;
	height:auto;
	margin: 0 5px;
	padding-bottom: 25px;
}
#sosmed a {
	display:block;
	margin: 1px;
	padding: 9px 5px 8px 8px;
	background: #444;
	color: #ddd;
	font-size: 14px;
	font-family: 'Aurulent Sans';
	text-decoration: none;
	cursor:pointer;
}
#sosmed img {
	width:20px;
	height:20px;
	padding-right: 6px;
	margin: -1px 0 5px 0;
	float: left;
}
#system_settings {
	margin-top: 35px;
	color:#ccc;
	font-size: 14px;
	font-family: 'Aurulent Sans';
	text-align:center;
	text-shadow: 0 2px 2px #000;
	cursor:default;
}
.system {
	width:auto;
	height: auto;
	margin-top:8px;
	font-family: 'Aurulent Sans';
	text-align:center;
	overflow-y:auto;
}
.system img {
	width:28px;
	height:28px;
	margin-bottom: 5px;
}
.system span {
	font-size: 12px;
	color:#888;
	text-align:center;
}
.system li {
	text-decoration:none;
	display: inline-block;
	width: 55px;
	height: 50px;
	margin: 1px;
	padding: 2px 10px;
	text-align:center;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor:pointer;
}
#time {
	width: 260px;
	height: auto;
	position: absolute;
	background: #1a1a1a;
	color: #bbb;
	bottom: 0px;
	padding: 10px 0 20px;
    cursor: default;
    text-align: center;
}
#clock-time {
	font-family: 'TrendexLightSSi.ttf';
	display: block;
	font-size: 50px;
	text-shadow: 0 2px 2px #000;
}
#clock-date {
	font-size: 15px;
	font-family: 'Aurulent Sans';
	text-shadow: 0 2px 2px #000;
}

/***********************************
 * Fonts Collections *
 * *********************************/
@font-face {
    font-family: 'TrendexLightSSi.ttf';
    src: url(../fonts/TrendexLightSSi.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Aurulent Sans';
    src: url(../fonts/AurulentSans-Regular.otf);
    font-weight: 600;
}
